* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 31.25vw;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 0.42rem;
  background: #a91918;
  color: #fff;
  text-align: center;
  line-height: 0.42rem;
}

header p {
  font-size: 14px;
}

content {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
}

content .imgWrap {
  width: 100%;
  height: 2.2rem;
  background: #f3eff0;
}

content .desc {
  width: 100%;
  background: #f3eff0;
  padding: 8px 0 0 12px;
}

content .desc .control {
  width: 0.5rem;
  height: 0.19rem;
  background: #aaa;
  margin-left: -8px;
  margin: 0 auto;
  border-radius: 0.15rem;
}

content .desc p {
  line-height: 0.26rem;
  font-size: 14px;
}

content .look {
  width: 100%;
  height: 50px;
  background: #fff;
  position: relative;
}

content .look a {
  font-size: 14px;
  position: absolute;
  left: 1rem;
  top: 0.15rem;
  text-decoration: none;
}

content .addBtn {
  width: 100%;
  height: 0.5rem;
  background: #a3a3a3;
  text-align: center;
  line-height: 0.5px;
  position: relative;
}

content .addBtn button {
  width: 2.18rem;
  height: 0.36rem;
  background: #b62021;
  border-radius: 0.15px;
  position: absolute;
  left: 0.5rem;
  top: 0.08rem;
  color: #fff;
}
