.user-content {
    // background: #ccc;
    margin: 0 19px;
    // height: 100%;
    padding-top: 30px;
    // overflow: hidden;556,361
    // background: red;
    .user-top {
        height: .82rem;
        display: flex;
        >.img {
            background: #fff;
            // border: 1px solid black;
            display: block;
            height: .82rem;
            width: .82rem;
            border-radius: 8px;
            img {
                border-radius: 8px;
                width: 100%;
                height: 100%;
            }
        }
        >.name {
            margin-left: .18rem;
            font-size: 18px;
            >p:nth-child(1) {
                margin-top: 15px;
                font-size: 18px;
                color: #222423;
            }
            >p:nth-child(2) {
                margin-top: .1rem;
                span {
                    font-size: 18px;
                    color: #f20201;
                }
            }
        }
    }
    .user-bottom {
        margin-top: .42rem;
        width: 100%;
        height: 1.8rem;
        border: 1px solid #dedede;
        border-bottom: 0px solid #dedede;
        border-radius: 8px;
        >li {
            height: .44rem;
            line-height: .44rem;
            border-bottom: 1px solid #dedede;
            >a {
                overflow: hidden;
                display: block;
                width: 100%;
                height: .44rem;
                font-size: 17px;
                color: #010101;
                span:nth-child(1) {
                    float: left;
                    margin-left: .13rem;
                }
                span:nth-child(2) {
                    float: right;
                    margin-right: .12rem;
                }
            }
        }
    }
}
